body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(119, 31, 80, 0.699);
  background: rgb(158, 66, 66);
  background: rgba(107, 39, 39, 0.8);
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(68, 2, 2, 0.2);
}

.legend ul {
  list-style: none;
}

.legend li {
  display: block;
  float: left;
  width: 40px;
  height: 15px;
}

.legend span {
  display: block;
  text-align: right;

}